<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>

    <!-- LogLevel 2 - not very verbose, but still -->
    <add key="LogLevel" value="2" />
    <!-- Run every 90 seconds, looking for emails to send -->
    <add key="TimerDuration" value="90" />
    <!-- Run right away! -->
    <add key="StartAt" value="[Now]" />
    <!-- Iterate, don't execute just once -->
    <add key="RunOnce" value="False" />
    <!-- Wait for 90 seconds after last run -->
    <add key="ForceInterval" value="True" />
    <!-- Send out the debug/test email one time to confirm things rock -->
    <add key="DebugTestRunOneTime" value="True" />
    <!-- Mail credentials, user's email address that is used to install the service -->

    <add key="MailCredentials" value="$$MAIL_CREDENTIALS$$" />                     <!-- $$ MAIL_CREDENTIALS $$ -->
    <add key="SendAsName" value="$$SENDAS_NAME$$" />                               <!-- $$ SENDAS_NAME $$ -->
    <add key="SamAccountName" value="$$SAM_ACCOUNT_NAME$$" />                      <!-- $$ SAM_ACCOUNT_NAME $$ -->
    <add key="SamAccountPassword" value="$$SAM_ACCOUNT_PASSWORD$$" />              <!-- $$ SAM_ACCOUNT_PASSWORD $$ -->

    <add key="UseEWS" value="$$USE_EWS$$"/>                                        <!-- $$ USE_EWS $$ -->

    <add key="EWSURL" value="$$EWS_URL$$"/>                                        <!-- $$ EWS_URL $$ -->
    <add key="SMTPServer" value="$$SMTP_SERVER$$"/>                                <!-- $$ SMTP_SERVER $$ -->

    <!-- MySQL parameters -->
    <add key="Endpoint" value="$$MYSQL_ENDPOINT$$" />                              <!-- $$ MYSQL_ENDPOINT $$ -->
    <add key="Database" value="$$MAIL_DATABASE$$" />                               <!-- $$ MAIL_DATABASE $$ -->
    <add key="Login" value="$$MYSQL_LOGIN$$" />                                    <!-- $$ MYSQL_LOGIN $$ -->
    <add key="Password" value="$$MYSQL_PASSWORD$$" />                              <!-- $$ MYSQL_PASSWORD $$ -->

    <!-- Test data -->
    <add key="TestData.From" value="noemail@yourcompany.com" />
    <add key="TestData.To" value="$$YOUR_EMAIL_ADDRESS$$" />                       <!-- $$ YOUR_EMAIL_ADDRESS $$ -->
    <add key="TestData.Cc" value="$$YOUR_CC_EMAIL_ADDRESS$$" />                    <!-- $$ YOUR_CC_EMAIL_ADDRESS $$ -->
    <add key="TestData.Bcc" value="$$YOUR_BCC_EMAIL_ADDRESS$$" />                  <!-- $$ YOUR_BCC_EMAIL_ADDRESS $$ -->
    <add key="TestData.SubjectPrefix" value="Automation" />
    <add key="TestData.Subject" value="Test email from CorpMailman" />
    <add key="TestData.Body" value="&lt;h1&gt;Voila!&lt;/h1&gt;&lt;p/&gt;A lot of things that went right!" />
    <add key="TestData.HasAttachments" value="true" />
    <add key="TestData.Filename" value="dot.gif" />
    <add key="TestData.Buffer0" value="R0lGODlhMgAyAPcAAAAAAAAAMwAAZgAAmQAAzAAA/wArAAArMwArZgArmQArzAAr/wBVAABVMwBVZgBVmQBVzABV/wCAAACAMwCAZgCAmQCAzACA/wCqAACqMwCqZgCqmQCqzA" />
    <add key="TestData.Buffer1" value="Cq/wDVAADVMwDVZgDVmQDVzADV/wD/AAD/MwD/ZgD/mQD/zAD//zMAADMAMzMAZjMAmTMAzDMA/zMrADMrMzMrZjMrmTMrzDMr/zNVADNVMzNVZjNVmTNVzDNV/zOAADOAMzOAZjOAmTOAzDOA/zOqADOqM" />
    <add key="TestData.Buffer2" value="zOqZjOqmTOqzDOq/zPVADPVMzPVZjPVmTPVzDPV/zP/ADP/MzP/ZjP/mTP/zDP//2YAAGYAM2YAZmYAmWYAzGYA/2YrAGYrM2YrZmYrmWYrzGYr/2ZVAGZVM2ZVZmZVmWZVzGZV/2aAAGaAM2aAZmaAmWaA" />
    <add key="TestData.Buffer3" value="zGaA/2aqAGaqM2aqZmaqmWaqzGaq/2bVAGbVM2bVZmbVmWbVzGbV/2b/AGb/M2b/Zmb/mWb/zGb//5kAAJkAM5kAZpkAmZkAzJkA/5krAJkrM5krZpkrmZkrzJkr/5lVAJlVM5lVZplVmZlVzJlV/5mAAJm" />
    <add key="TestData.Buffer4" value="AM5mAZpmAmZmAzJmA/5mqAJmqM5mqZpmqmZmqzJmq/5nVAJnVM5nVZpnVmZnVzJnV/5n/AJn/M5n/Zpn/mZn/zJn//8wAAMwAM8wAZswAmcwAzMwA/8wrAMwrM8wrZswrmcwrzMwr/8xVAMxVM8xVZsxVmc" />
    <add key="TestData.Buffer5" value="xVzMxV/8yAAMyAM8yAZsyAmcyAzMyA/8yqAMyqM8yqZsyqmcyqzMyq/8zVAMzVM8zVZszVmczVzMzV/8z/AMz/M8z/Zsz/mcz/zMz///8AAP8AM/8AZv8Amf8AzP8A//8rAP8rM/8rZv8rmf8rzP8r//9VA" />
    <add key="TestData.Buffer6" value="P9VM/9VZv9Vmf9VzP9V//+AAP+AM/+AZv+Amf+AzP+A//+qAP+qM/+qZv+qmf+qzP+q///VAP/VM//VZv/Vmf/VzP/V////AP//M///Zv//mf//zP///wAAAAAAAAAAAAAAACH5BAEAAPwALAAAAAAyADIA" />
    <add key="TestData.Buffer7" value="AAj/APcJHEiwoMGDCBMqXEjQnsOHEBlKZAgRnj2LGC8+nMhR4MOMH0Nq3NhRoUaLDkGqTKmx5EGIJ1mOHIkSpUOXA2PatFjOW7mfPsvRZGkRp0iN38qR+6mU6dKfMmva6xhT48+nTa9qXfot6s2JIuFpHZu" />
    <add key="TestData.Buffer8" value="V6VhyXiV6LYsVq9agT7sOXVjVXtKybPGafSrzosmdS922Nbs1r9SvBofuzfuThg7HNAiznWvwMFzCTyGTebxZx+Os37BSbjjzbE+mnr14prGZtePPbZPKTGwztOSfnF+rXu1Zx27To/eFFFt46ePer11v3u" />
    <add key="TestData.Buffer9" value="1aMtqRBEGSdaqDjHId2KZlx6a7d+CmXWuS/7b6lJztcpB7S5v2StqrbKmyr7auA3PInNJvl+PseVo2bKn8F1827e3mWVNxzeQRS7Z9Zxxrx7nnnyv+xcdeasctRpRA+TnXmmfSwIfNKxOKmI0080VWloLCs" />
    <add key="TestData.Buffer10" value="YRgWY61lo2A2VAoIonZ8KfDYBvuA5JbWvGmAyomajcge9K89plW4ZEUUlJLBdXYcjpkMw2Fr7hiZXuvYJOjbwe21eOPmCl13HFetrfliP6lp9pdfNm0oFVZuQVmfwNaqKYr1Xk32UkeSTWdUt1VeaWJJB7X" />
    <add key="TestData.Buffer11" value="nFPlNInYTHe9iFty/dV4oWf01QfkcDm5+N1eGGaKHJgxqoigXChFN1KkkqLHG32qfa9I36dX0TTeQy/CaSaEZ2qWYZkiFQQSq0DuSmWfjr2IlaNTCSvTpw4yimGyxULJKW0QsVpmYXk52FdCVSnLGKODCiU" />
    <add key="TestData.Buffer12" value="VPOD2ZZauutbJKF8sJnSuPdGSW2xc5tpK0U72LHavUpEuBVNRYK0E5HdSakUUdGAdJVZ5zmU1k3glzetiYXINlSpOwvHr1cB9+cXxnIfNW3JLI6talU1hkZTyS16t1OzLFA2FMs0456xzRwEBADs=" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
